table.menubar{
  text-align:center;background:url("./img/solid1.jpg");border:0px solid #ffffff;}
tr.cursor{cursor:pointer }
.menubar td:hover{color:#fa8072}
.position{padding:0px; margin:0px;}
 
 .menuimg {
  background: ;
  width: 40px;
  height: 40px;
  margin: 0 auto 0px;
  padding: 1px 1px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;}
.menuimg img {
 display: block;
 width: 100%;}
 .line {
  background: ;
  width: 1349px;/*for edge 1355px*/
  height: 3px;
  margin: 0 auto 0px;
  padding: 0px 0px;
 }
.line img {
 display: block;
 width: 100%;}